<%- include("partials/header"); -%>

<h1> <%= htmlHome %></h1>

<form action="/compose" method="post">
    <input type="text" id="newDiaryEntry" name="newDiaryEntry">
    <button type="submit">Submit</button>
</form>

<%- include("partials/footer"); -%>